# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env
.venv/
.env
/.secrets/
data/scripts/.secrets/
# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# IDEs
.vscode/

# orders
journals/

# data
data/raw/
data/processed/
data/signals/

# backtests
data/backtests/*
