repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        language: system
        types: [python]
        files: \.py$

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: \.py$

      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        files: \.py$
        args: ["check", "."]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs>=2.2
          - typing-extensions>=4.8
          - httpx>=0.27
          - python-dotenv>=1.0
          - textual>=0.82     # provides textual.app/containers/widgets
          - matplotlib>=3.7
          - Flask>=3.0.0
          - types-Flask>=1.1.6
        args:
          - --python-version=3.12
          - --config-file=mypy.ini
        files: \.py$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
